html {
    background: linear-gradient(112.34deg, #00A3FF 0%, #FF00F5 100%);
}

#title {

    font-family: 'Inter';

    color: #FFFFFF;
}

.cards {
    display: grid;
    margin: auto;
    grid-template-areas: 
    "addition subtraction multiplication division";
}

